.dropdown
  +themify($themes)
    &_title
      border: none
      padding: 0
      margin: 0
      cursor: pointer
      min-width: 80px
      text-align: center
      outline: none
      background-color: transparent
      color: themed('text_dropdown_title')
    &_menu
      display: inline-block
      border-radius: 3px
      box-shadow: 0px 8px 8px -2px themed('dropdown_menu_box_shadow_color')
      position: absolute
      top: 20px
      left: -10px
      padding: 0
      z-index: 1
      background-color: themed('text_dropdown_title')
      &_item
        cursor: pointer
        color: themed('text_dropdown_item')
        transition: all 200ms ease
        padding: 10px
        list-style-type: none
        &:hover
          color: themed('border_userlist_item_hover')