.text_input
    .input_block
        .input
            @media screen and (min-width: 360px) and (min-resolution: 2dppx)
                max-width: 80%
        .validate_icon
            position: relative
            &.good
                &:after
                    +validate_mark
                    content: '\2713'
                    color: green
            &.bad
                &:after
                    +validate_mark
                    content: '\2717'
                    color: red
