$static-path: null
$font-path: null

@if $env == dev
  $static-path: ''
  $font-path: '/fonts/'
@else
  $static-path: '/public'
  $font-path: '/public/fonts/'

$images_path: '#{$static-path}/images/'

// ================ COLORS ================
$green-100: #00be73;
$green-200: green;
$green-300: #3be03b;

$white-100: white;
$white-200: #d1d2d4;

$black-100: black;
$black-200: #212121;
$black-300: #424242;

$gray-100: #939597;
$gray-200: #8a8c8e;
$gray-200-rgba: rgba(0, 0, 0, .2);

$violet-100: #5f19aa;
$violet-200: #823cc3;

$red-100: red;
// ========================================