$theme-2: (
  bg_menu: $black-200,
  bg_form_header: $black-200,
  bg_form: $white-200,
  bg_app: $gray-100,
  bg_form_title: $black-200,
  bg_content: $black-200,
  bg_dropdown_menu: $white-100,
  bg_text_input: $gray-100,
  main_green: $black-200,
  validate_icon_good: $green-200,
  validate_icon_bad: $red-100,
  text_menu: $white-100,
  text_info_field_label: $gray-100,
  text_info_field_value: $white-100,
  text_form_title: $white-100,
  text_dropdown_title: $white-100,
  text_dropdown_item: $gray-100,
  text_dropdown_item_hover: $violet-100,
  text_user_list_block: $white-100,
  text_user_list_block_hover: $black-300,
  text_home_description: $white-100,
  border_userlist_item: $green-100,
  border_info_field: $green-300,
  border_theme_selector_menu: $white-100,
  border_text_input: $gray-100,
  button_user_control_color: $green-100,
  button_user_control_color_hover: $green-100,
  button_form_footer_disabled: $gray-200,
  button_close_border: $white-100,
  button_close_hover_color: $violet-100,
  button_close_hover_border: $violet-100,
  button_form_footer: $violet-100,
  button_form_footer_hover: $violet-200,
  button_form_footer_color: $white-100,
  dropdown_menu_box_shadow_color: $gray-200-rgba,
);
