.userlist_block
    margin-bottom: 1em
    width: 100%
    a
        width: 50%
        display: inline-block
        text-decoration: none
        color: black
        &:hover
            background-color: #d1d2d4
        .userlist_item
            border: 2px solid #3be03b
            padding: 0.5em 1em
            font-family: 'PFDinDP-Reg'
            &:hover
                border-color: #5f19aa
    .user_control_buttons
        display: inline-block
        .button
            display: inline-block
            font-size: 20px
            color: #00be73
            &:hover
                color: #5f19aa
            &.edit
                margin-right: 20px
                margin-left: 50px
