.userlist_block
    margin-bottom: 1em
    width: 100%
    a
        width: 50%
        display: inline-block
        text-decoration: none
        .userlist_item
            border: 2px solid #3be03b
            padding: 0.5em 1em
            margin-right: 50px
    .user_control_buttons
        display: inline-block
